/* Root variables */
:root {
  --size: 4;
  --gap: 10px;
  --tile-size: calc((100vmin - var(--gap) * (var(--size) + 1)) / var(--size));
  --game-size: calc(var(--tile-size) * var(--size) + var(--gap) * (var(--size) + 2));
  --primary-color: #1a1a1a;
  --secondary-color: #f2f2f2;
  --highlight-color: #ffcc00;
  --button-background: #001047;
  --button-hover-background: #242f57;
  --reset-button-background: #ff7f50;
  --reset-button-hover-background: #ff4500;
  --overlay-dark: rgba(0, 16, 71, 0.8);
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin: 0;
  padding: env(safe-area-inset-top) 10px env(safe-area-inset-bottom);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  touch-action: none;
  overflow: hidden;
  max-width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle at center, var(--overlay-dark) 0%, rgb(0, 0, 0) 150%);
  z-index: -1;
  pointer-events: none;
}

/* Header styles */
header {
  margin: 0;
  padding: 10px;
  text-align: left;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 5;
}

header h1 {
  margin: 0;
  padding: 0.2rem 0.4rem;
  font-size: 1rem;
  width: auto;
  box-sizing: border-box;
  color: hsl(var(--hue-value), 70%, 50%);
  background-color: rgba(50, 50, 50, 0.8);
  border-radius: 10px;
  text-align: center;
  z-index: 6;
}

/* Button styles */
button {
  background-color: rgba(0, 16, 71, 0.4);
  color: var(--secondary-color);
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 20px;
  text-align: center;
  width: auto;
  max-width: 90%;
  white-space: nowrap;
  margin-top: 10px;
  z-index: 7;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  text-shadow: none;
  transition: background-color 0.2s, color 0.2s, transform 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: brightness(85%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

/* Specific button styles */
#changeColor-button {
  color: hsl(var(--hue-value), 70%, 50%);
}

#reset-button {
  position: absolute;
  top: 100px;
  right: 10px;
  background-color: var(--reset-button-background);
  padding: 0.8rem 1.2rem;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 20px;
  margin-top: 20px;
  z-index: 7;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

#back-button {
  display: none;
}

/* Main styles */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin: 20px 0;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  flex: 1;
  justify-content: center;
  overflow: hidden;
  color: var(--secondary-color);
  position: relative;
  z-index: 4;
}

/* Score container styles */
#score-container {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0.5rem 20px;
  color: var(--secondary-color);
  font-size: 1rem;
  background-color: rgba(50, 50, 50, 0.5);
  border-radius: 10px;
  text-align: center;
  width: auto;
  max-width: 90%;
  z-index: 7;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#score,
#best-score {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--secondary-color);
}

#score {
  color: var(--highlight-color);
  font-size: 1.5rem;
}

/* Board container styles */
#board-container {
  display: grid;
  grid-template-columns: repeat(var(--size), 1fr);
  gap: var(--gap);
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background-color: rgba(50, 50, 50, 0.8);
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  margin: auto;
  position: relative;
  padding: 0;
  margin-top: 120px;
  z-index: 3;
  overflow: hidden;
  padding-right: var(--gap);
  padding-bottom: var(--gap);
}

/* Tile styles */
.tile {
  background-color: transparent;
  color: inherit;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  border-radius: 15px;
  font-size: calc(var(--tile-size) * 0.9);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.5);
  transition: transform 0.05s ease-in-out, opacity 0.05s ease-in-out, box-shadow 0.05s ease-in-out;
  overflow: hidden;
  margin: 0;
  width: calc((100% - var(--gap) * (var(--size) - 1)) / var(--size));
  height: calc((100% - var(--gap) * (var(--size) - 1)) / var(--size));
}

.tile[data-value="2"] {
  background-color: #e0f7fa;
  color: #776e65;
}

.tile[data-value="4"] {
  background-color: #add8e6;
  color: #776e65;
}

.tile[data-value="8"] {
  background-color: #f2b179;
  color: #f9f6f2;
}

.tile[data-value="16"] {
  background-color: #f59563;
  color: #f9f6f2;
}

.tile[data-value="32"] {
  background-color: #f67c5f;
  color: #f9f6f2;
}

.tile[data-value="64"] {
  background-color: #f65e3b;
  color: #f9f6f2;
}

.tile[data-value="128"] {
  background-color: #edcf72;
  color: #f9f6f2;
}

.tile[data-value="256"] {
  background-color: #edcc61;
  color: #f9f6f2;
}

.tile[data-value="512"] {
  background-color: #edc850;
  color: #f9f6f2;
}

.tile[data-value="1024"] {
  background-color: #edc53f;
  color: #f9f6f2;
}

.tile[data-value="2048"] {
  background-color: #edc22e;
  color: #f9f6f2;
}

.tile[data-value="4096"],
.tile[data-value="8192"],
.tile[data-value="16384"],
.tile[data-value="32768"],
.tile[data-value="65536"] {
  background-color: #3c3a32;
  color: #f9f6f2;
}

.tile:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7), 0 0 25px rgba(255, 255, 255, 0.7), 0 0 35px rgba(255, 255, 255, 0.7), 0 0 45px rgba(255, 255, 255, 0.7);
}

/* Game over styles */
#game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2rem;
  z-index: 8;
  padding: 20px;
  border-radius: 10px;
}

.hidden {
  display: none;
}

/* Media queries for mobile optimization */
@media (max-width: 600px) {
  body {
    overflow: hidden;
    padding: 5px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  header h1 {
    font-size: 1.2rem;
  }

  #score-container {
    font-size: 0.8rem;
    padding: 0.2rem;
  }

  #board-container {
    width: 100%;
    height: 100%;
    max-width: 85vmin;
    max-height: 85vmin;
    margin-bottom: 5px;
  }

  .tile {
    font-size: 0.8rem;
  }

  button {
    font-size: 0.7rem;
    padding: 5px 10px;
  }

  #game-over {
    font-size: 1.2rem;
  }

  main {
    padding: 5px;
    height: 100%;
  }

  #reset-button {
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
  }

  #hue-slider {
    height: 15px;
    width: 70%;
    max-width: 250px;
  }

  .grid-container {
    width: 90%;
    height: 90%;
    margin: auto;
  }

  .tile {
    width: 20%;
    height: 20%;
    font-size: 1.5em;
  }

  .score-container {
    font-size: 1.2em;
  }

  /* Additional mobile layout adjustments */
}

/* Media queries for tablet optimization */
@media (min-width: 600px) and (max-width: 1024px) {
  body {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  header h1 {
    font-size: 1.5rem;
  }

  #score-container {
    font-size: 1rem;
    padding: 0.5rem;
  }

  #board-container {
    width: 100%;
    height: 100%;
    max-width: 90vmin;
    max-height: 90vmin;
    margin-bottom: 10px;
  }

  .tile {
    font-size: 1rem;
  }

  button {
    font-size: 1rem;
    padding: 10px 20px;
  }

  #game-over {
    font-size: 1.5rem;
  }

  main {
    padding: 10px;
    height: 100%;
  }

  #reset-button {
    padding: 1rem 1.5rem;
    font-size: 1rem;
  }

  #hue-slider {
    height: 20px;
    width: 80%;
    max-width: 300px;
  }
}

/* Force vertical layout and prevent rotation for tablets */
@media (min-width: 600px) and (max-width: 1024px) and (orientation: landscape) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
  }

  main {
    max-width: 90vh;
    max-height: 90vh;
    flex: 1;
  }

  header {
    position: static;
    margin: 0 20px;
  }

  #score-container {
    position: static;
    margin: 0 20px;
  }

  #reset-button {
    position: static;
    margin: 0 20px;
  }
}

/* Force vertical layout and prevent rotation for all devices */
@media (orientation: landscape) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }

  main {
    max-width: 90vh;
    max-height: 90vh;
    flex: 1;
  }

  header {
    position: static;
    margin: 0 20px;
  }

  #score-container {
    position: static;
    margin: 0 20px;
  }

  #reset-button {
    position: static;
    margin: 0 20px;
  }
}

/* Specific styles for iPhone */
@media only screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    padding: 5px;
  }

  header h1 {
    font-size: 1.4rem;
  }

  #score-container {
    font-size: 0.9rem;
    padding: 0.2rem;
  }

  #board-container {
    width: 100%;
    height: 100%;
    max-width: 85vmin;
    max-height: 85vmin;
    margin-bottom: 5px;
  }

  .tile {
    font-size: 0.9rem;
  }

  button {
    font-size: 0.7rem;
    padding: 5px 10px;
  }

  #game-over {
    font-size: 1.4rem;
  }

  main {
    padding: 0 5px;
    height: 100%;
  }
}

#controls-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
  z-index: 10;
  padding: 10px;
  box-sizing: border-box;
}

#hue-slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

#hue-slider {
  width: 80%;
  max-width: 300px;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  background: #c6c9d67d;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

#hue-slider:hover {
  opacity: 1;
}

#hue-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--button-background);
  border-radius: 50%;
  cursor: pointer;
}

#hue-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--button-background);
  border-radius: 50%;
  cursor: pointer;
}

/* Adjust hue for game-section */
.game-section {
  transition: filter 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: var(--gap);
  box-sizing: border-box;
  position: relative;
  margin-top: 20px;
}

#reset-button,
#back-button {
  background-color: rgba(0, 16, 71, 0.4);
  color: var(--secondary-color);
  border: none;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 20px;
  text-align: center;
  width: auto;
  max-width: 90%;
  white-space: nowrap;
  margin-top: 10px;
  z-index: 7;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  text-shadow: none;
  transition: background-color 0.2s, color 0.2s, transform 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: brightness(85%);
}

#reset-button:hover,
#back-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
}

#reset-button:active,
#back-button:active {
  transform: scale(0.95);
}